<% if (post.categories && post.categories.length){ %>
    <div class="article-category tagcloud">
    <%- list_categories(post.categories, {
      show_count: true,
      class: 'article-category',
      style: 'none',
      separator: ''
    }) %>
    </div>
<% } %>
