    <span class="post-time">
      <span class="post-meta-item-icon">
        <i class="fa fa-keyboard-o"></i>
        <span class="post-meta-item-text">  字数统计: </span>
        <span class="post-count"><%= wordcount(post.content) %>字</span>
      </span>
    </span>

    <span class="post-time">
      &nbsp; | &nbsp;
      <span class="post-meta-item-icon">
        <i class="fa fa-hourglass-half"></i>
        <span class="post-meta-item-text">  阅读时长: </span>
        <span class="post-count"><%= min2read(post.content) %>分</span>
      </span>
    </span>

    <span class="post-time">
      &nbsp; | &nbsp;
      <span class="post-meta-item-icon">
        <i class="fa fa-eye"></i>
        <span class="post-meta-item-text">  阅读量: </span>
        <span id="busuanzi_value_page_pv"></span>次
        <!-- <span id="page-visit"  title="<%= __('visit_counter.page') %>"><span id="busuanzi_value_page_pv"></span>次</span> -->
      </span>
    </span>
